<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="87EEE517-170B-4584-A6A4-3FE0FB9CDF62" />
    <add key="Port" value="15555" />
    <add key="PipePrefix" value="tcp" />
    <add key="MaximumStoreSpace" value="1000000000" />
  </appSettings>
</configuration>