<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="1896354D-98E6-4093-AD7D-63C5E34C06B6" />
    <add key="PipePrefix" value="tcp" />
    <add key="Peers" value="15241"/>
    <add key="MaximumStoreSpace" value="1000000000" />
    <add key="LogDirectory" value="C:\temp" />
  </appSettings>
</configuration>